# Generated class files
*.class

# Default data file
addressbook.txt
backup_data.txt
exams.txt
statistics.txt
log.txt

# Package Files #
*.jar
*.war
*.ear

# Idea files
.idea/
*.iml
out/
/bin/
/data/
publish.sh

# Gradle build files
.gradle/
build/

