

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-font-family: "Arial";
    -fx-font-size: 10pt;
    -fx-padding: 5 400 5 5;
    -fx-background-image: url("/seedu/addressbook/ui/NUSLogo.jpg");
    -fx-background-size: 50% 100%;
}

