

.text-field {
    -fx-font-size: 20pt;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-color: lightblue;
    -fx-control-inner-background: derive(#1d1d1d,20%);
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14pt;
    -fx-padding: 1 1 1 1;
}
