

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-text-fill: orange;
    -fx-control-inner-background: derive(#29282d,20%);
}

.text-area {
    -fx-background-color: #161519;
    -fx-control-inner-background: #161519;
    -fx-font-family: "Helvetica";
    -fx-font-size: 10pt;
    -fx-padding: 5 5 5 5;
}
